*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #171810;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.text_header h1 {
    color: whitesmoke;
    transition: .4s;
}
.text_header h1:hover{
    color: #03FA6E;
}
header{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.text_header_div{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.img_logo_header{
    margin-right: 50px;
}
.img_logo_header img{
    width: 180px;
    height: 140px;
}