#footer{
    width: 100%;
    background-color: #01893C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.footer_img img{
    width: 200px;
    height: 170px;
    border-radius: 50%;
}
.footer_img{
    margin: 40px 0;
}
.fotter_icons{
    display: flex;
    gap: 60px;
    margin-bottom: 60px;
}
.fotter_icons a img{
    width: 60px;
}
@media(min-width:100px) and (max-width:768px) {
    .footer_img img{
        width: 150px;
        height: 130px;
    }
    .fotter_icons a img{
        width: 40px;
    }
    .fotter_icons{
        gap: 20px;
    }
}
@media(min-width:769px) and (max-width:992px){
    .footer_img img{
        width: 130px;
        height: 130px;
    }
    .fotter_icons a img{
        width: 50px;
    }
}
@media(min-width:992px) and (max-width:1200px){
    .footer_img img{
        width: 130px;
        height: 130px;
    }
    .fotter_icons a img{
        width: 50px;
    }
}
