.tecnologies_img img{
    height: 120px;
    margin: 0 40px;
}
.tecnologies_img{
    white-space: nowrap;
    animation: 15s slide infinite linear;
}
.tecnologies{
    display: flex;
    overflow: hidden;
    padding: 60px 0;
    background-color: transparent;
}
.tecnologies:hover .tecnologies_img{
    animation-play-state: paused;
}
.tecnologies_h1{
    margin: 50px 0;
    color: #03FA6E;
    text-align: center;
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@media(min-width:100px) and (max-width:768px) {
    .tecnologies_img img{
        height: 90px;
        margin: 0 20px;
    }
}
@media(min-width:769px) and (max-width:992px){
    .tecnologies_img img{
        height: 120px;
        margin: 0 50px;
    }
}
@media(min-width:992px) and (max-width:1200px){
    .tecnologies_img img{
        height: 100px;
        margin: 0 40px;
    }
}